services:
  - type: web
    name: ecommerce-api
    env: docker
    plan: free
    buildCommand: docker build -t ecommerce-api .
    startCommand: docker run -p 8080:8080 ecommerce-api
    envVars:
      - key: PORT
        value: 8080
      - key: DB_URL
        fromDatabase:
          name: ecommerce-db
          property: connectionString
      - key: DB_USERNAME
        fromDatabase:
          name: ecommerce-db
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: ecommerce-db
          property: password

databases:
  - name: ecommerce-db
    plan: free
    databaseName: ecommerce_db
    user: postgres

